/* Pembungkus */
.wrap-content{
    margin : 60px 0 60px 0;
}

/* Navbar */
.navbar{
    background-color: white !important;
    border-bottom: 1px solid rgba(54,54,54, 0.2);
    box-shadow: 0px 0px 8px -5px rgba(54,54,54,1);
    position: sticky;
    top: 0;
    z-index: 999;
    margin-top: -10px;
}


.navbar-brand{
    display: none;
}

.navbar-nav{
    flex-direction: row !important;
    
}

.nav-item{
    margin-right: 10px;
}

header{
    display: inline;
}

.nav-form{
    margin-left: 10px;
}

/* Icon Toggler */
.navbar-toggler{
    padding: 5px 8px;
}

.navbar-toggler-icon{
    width: 20px;
    height: 20px;
}

nav a img{
    width: 26px;
    height: 26px;
}

.jumlahTrol{
    height: 18px;
    width: 18px;
    border-radius: 100px;
    background-color: #e74c3c;
    position: absolute;
    top: 10px;
    right:18px;
    text-align: center;
    font-size: 10px;
    color: white;
}

/* Utilities */
.form-nav{
    background-color: white;
    border-radius: 20px;
    text-indent: 5px;
}

.form-default{
    background-color: white;
    border-radius: 20px;
    text-indent: 5px;
}

.btn-custum{
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #a8d0ff;
    border: none;
}

.heading-text{
    font-size: 18px;
    color: #4b4b4b;
}

.dekstrop-img-bawah{
    display: none;
}

.indicator-custum{
    bottom: 0;
    margin-bottom: -30px;
    right: 45%;
    margin-left: 0;
    /* margin-left: -90px; */
}

.indicator-custum li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    border : 1px solid rgba(54,54,54, 1);
}

.indicator-custum li.active{
    border: 1px solid white;
    width: 14px;
    height: 14px;
    background-color: #227093;
}

/* Grid diskon */
.grid-container-diskon{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.item-diskon{
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 10rem;
  border-radius: 8px;
}

/* Link-readmore */
.link-readmore{
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 15px;
}

/* Grid container kategori */
.grid-container-kategori{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.item-kategori{
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 5rem;
  border-radius: 8px;
}
  


.carousel-cell {
    width: 25%;
    height: 70px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
}

/* Card slider */
.carousel-cell-card{
    width: 50%;
    height: 200px;
    margin-right: 10px;
    /* background-color: red; */
    border-radius: 5px;
    border-bottom: 1px solid rgba(54,54,54, 0.2);
    box-shadow: 0px 0px 8px -5px rgba(54,54,54,1);
}

.carousel-cell-card:hover{
  
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}


.img-card{
    width: 100%;
    height: 85%;
    /* background-color: red; */
}
.img-card img{
    width: 100%;
    height: 100%;
}

.body-card{
    /* background-color: red; */
    width: 80%;
    margin: auto;
}

.head-text-card{
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}

/* Card product */

.card-product{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.item-card-product{
    height: 15rem;
    border-radius: 5px;
    border-bottom: 1px solid rgba(54,54,54, 0.2);
    box-shadow: 0px 0px 8px -5px rgba(54,54,54,1);
}

.img-card-product{
    width: 100%;
    height: 60%;
}

.img-card-product img{
    height: 100%;
    width: 100%;
}

.card-body{
    height: 40%;
    position: relative;
    padding: 20px;
}

.card-body .title-product{
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.diskon{
    position: absolute;
    top: 0;
    padding: 3px 6px;
    border-radius:4px;
    background-color: #e1315b;
    color: white;
    font-size: 12px;
    right: 10px;
    margin-top: -10px;
}

.title-product{
    text-align: left;
    font-size: 14px;
    margin-bottom: 0;
}

.harga-diskon{
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 0;
}


.normal-harga{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}


.content-trust p{
    line-height: 65px;
    font-weight: 700;
    font-size: 12px;
}

.content-trust::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(54,54,54, 0.2);
}

.icon-trust{
    width: 50px;
    height: 50px;
}

/* garansi produk content */
.garansi-produk-content{
    background-color: #37bbec;
    text-align: center;
    color: white;
}

.garansi-produk-content h3{
    font-size: 18px;
    font-weight: 400;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.penjelasan-garansi{
    position: relative;
	list-style: none;
	margin-left: 0;
    padding-left: 1.2em;
    color: white;
    font-size: 14px;
    text-align: left !important;
}

.penjelasan-garansi li::before{
    content: "-";
	position: absolute;
    left: 0;
   
}

.sosmed-garansi{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.jenis-pembayaran{
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(54,54,54, 0.2);
    box-shadow: 0px 0px 8px -5px rgba(54,54,54,1);
}


/* Footer */
footer{
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.content-logo{
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid3{
    grid-template-columns: repeat(3, 1fr) !important;
}

.item-logo{
    height: 50px;
    margin:0 auto;
    /* background-color: brown; */
}

.item-logo img{
    width: 100%;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #3498db;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
    
  
 .wrap-content-sidenav{
    padding: 8px 8px 8px 32px;
 }



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown p{
    font-size: 22px;
    color: #818181;
    transition: 0.3s;
    padding: 8px 8px 8px 32px;
}

.drop-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:50px;
    left : 25px;
}


.drop-content a:hover {background-color:#3498db;
    color: white;
}

.dropdown:hover .drop-content {display: block;}



/* Desktrop Version */
@media (min-width: 1200px) { 

        .navbar-brand{
            display: block;
        }
        
        .nav-item{
            margin-right: 0;
        }

        .jumlahTrol{
            top: 12px;
            right: 118px;
        }

        .indicator-custum{
            bottom: 0;
            right: 0;
            margin-right: -80px;
            margin-bottom: -30px;
        }

        .grid-container-diskon{
            grid-template-columns: repeat(4, 1fr);
        }

        .item-diskon{
            height: 15rem;
        }

        .carousel-cell {
            width: 20%;
            height: 150px;
        }

        .carousel-cell-card{
            width: 20%;
            height: 300px;
        }

        .card-product{
            grid-template-columns: repeat(4, 1fr);
        }

        .item-card-product{
            height: 25rem;
        }

        .card-body{
            margin-top:30px;
        }

        .title-product{
            font-size: 16px;
        }

        .harga-diskon{
            font-size: 12px;
        }

        .normal-harga{
            font-size: 18px;
        }

        .garansi-produk-content{
            text-align: left;
        }

        .icon-trust{
            width: 40px;
            height: 40px;
        }
                        
        .content-trust p{
            line-height: normal;
            font-weight: 700;
            font-size: 16px;
        }

        .sosmed-garansi{
            width: 40px;
            height: 40px;
        }

        .nav-form{
            margin-left: 10px;
        }
        .content-logo{
            grid-template-columns: repeat(4, 1fr);
        }

        .form-nav{
            width: 900px  !important;
        }

        .content-logo{
            display: none;
        }

        .dekstrop-img-bawah{
            display: inline;
        }
       
 }